.cardFront, .cardBack {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border-radius: 8px;
    width: 5.5em;
    height: 5.5em;

    transition: margin 1s;
}

.cardFront {
    background: #94e2f0;
    color: #365c93;
    box-shadow: 2px 2px #7bb8c3;
}

.cardBack {
    background: #de8638;
    color: #cbdcd4;
    box-shadow: 2px 2px #a7652b;
}

/*todo poner que el focus haga algo*/
.cardBack:hover, .cardFront:hover, .cardFront:focus, .cardBack:focus {
    margin: 0 20px 20px 0;
}