.Header {
    font-family: "Raleway", "sans-serif";
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../../../assets/fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../assets/fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../assets/fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../../assets/fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../../assets/fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}